.page-template-page-skills {

    h2, h3 {
        font-size: 24px;
        color: #545454;
    }

    h2 {
        padding-bottom: 70px;
        text-align: center;
    }

    .tech-div {
        text-align: center;
        justify-content: center;
        width: 100%;
        align-items: center;

        i {
            font-size: 45px;
        }

        img {
            width: 45px;
            height: 45px;
        }

        .tech-item {
            width: 100px;
            padding: 0 10px;
        }

        .sql, .rwd {
            width: 70px;
            height: 45px;
        }

        p {
            font-size: 16px;
        }
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        img {
            width: 500px;
        };
    }

    .tools-items {
        padding-left: 20px;

        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: auto;
            font-size: 16px;
            position: relative;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: -20px;
                top: 6px;
                width: 12px;
                height: 12px;
                border: 1px solid #018df5;
                background: #018df5;
                border-radius: 50%;
                box-shadow: 0px 0px 0px 3px #fff inset;
            }
        }
    }

    .skills_tools {
        padding-top: 50px;

        h2 {
            padding-bottom: 50px;
        }
    }
}

@media screen and (max-width: 991px) {
    .page-template-page-skills {
        .tech-div {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .page-template-page-skills {
        .tech-item {
            padding: 10px;
        }
        .tech-div {
            justify-content: center;
        }
        .skills {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 425px) {
    .page-template-page-skills {
        h2 {
            font-size: 20px;
            padding-bottom: 40px;
        }
    }
}

